html, body {
  padding: 0;
  margin: 0;
  background-color: #272727;
  font-family: 'Raleway', sans-serif; }

header {
  width: 100%;
  color: #FAF0CA;
  width: 100%;
  position: fixed;
  z-index: 100; }

header nav {
  width: 100%;
  float: right;
  right: -1500px;
  position: absolute;
  background-color: #272727; }

header nav.on {
  right: 0; }

h1, p {
  color: #272727; }

a, a:hover {
  color: #DD8C4E; }

.page {
  padding-top: 30px; }

.section-block {
  position: relative;
  z-index: 1; }

.fullscreen {
  width: 100%;
  height: 100vh; }

.skill-bar {
  height: 5px;
  position: relative;
  float: right;
  width: 55%; }

.toTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #272727;
  padding: 5px 15px;
  border: 1px solid #FAF0CA;
  color: #FAF0CA;
  z-index: 22;
  font-size: 2.5rem;
  opacity: .8; }

.toTop:hover {
  cursor: pointer;
  opacity: 1; }

@media screen and (min-width: 768px) {
  header nav {
    text-align: right;
    width: 40%;
    right: 0;
    position: relative;
    background-color: transparent; }

  .page {
    padding-top: 60px; }

  .skill-bar {
    margin-right: 12%; } }
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 10px 0 5px 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;
  z-index: 1; }

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #DD8C4E;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 10px; }

#nav-icon1 span:nth-child(3) {
  top: 20px; }

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

header nav ul li a {
  color: #FAF0CA; }

header nav.dark-txt ul li a, header nav ul li a:focus {
  color: #FAF0CA; }

header nav ul li a:hover, header nav ul li.active a,
header nav ul.dark-txt li a:hover, header nav.dark-txt ul li.active a {
  color: #DD8C4E;
  cursor: pointer; }

header ul {
  list-style: none;
  padding: 0; }

header ul li {
  margin: 15px; }

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none; }

  header ul li {
    display: inline-block; } }
/*///////////////
/// Home Page ///
///////////////*/
.home-page {
  height: calc(100vh + 60px);
  margin-top: -60px;
  padding-top: 60px;
  background: #333 url("../images/image-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*background-blend-mode: multiply;*/
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 0px 5000px inset;
  width: 100%;
  position: fixed; }

.home-page h1, .home-page p {
  color: #FAF0CA; }

.welcome-msg {
  width: 100%;
  float: right;
  margin-top: 50%;
  text-align: center;
  position: relative; }

.welcome-msg .line {
  border-bottom: 1px solid #fff;
  width: 0%;
  height: 12px;
  display: block;
  position: absolute;
  margin: 0 20%;
  -webkit-transition: width .5s;
  /* For Safari 3.1 to 6.0 */
  transition: width .5s; }

.welcome-msg .line.expanded {
  width: 7%; }

.welcome-msg .line.right {
  right: 0;
  bottom: 18px; }

@media screen and (min-width: 640px) {
  .welcome-msg {
    width: 500px;
    margin-top: 20%; }

  .welcome-msg .line.expanded {
    width: 15%; } }
/*///////////////////
/// About Me Page ///
///////////////////*/
.about-me-page {
  /*height: 100vh;*/
  /*background: #FAF0CA;*/
  background-color: #FFF;
  padding-bottom: 70px; }

.about-me-page h1 {
  color: #272727;
  border-bottom: 1px solid #272727;
  font-size: 16px;
  position: relative;
  padding-bottom: 10px; }

.about-me-page h1:after {
  content: "";
  width: 127px;
  height: 5px;
  background: #272727;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0; }

.highlight-text {
  color: #DD8C4E;
  font-style: italic;
  text-transform: uppercase;
  font-size: 25px; }

.about-me-img {
  text-align: center; }

.about-me-img hr {
  margin-bottom: 10px; }

.about-me-img hr:last-child {
  margin-top: 10px; }

.about-me-img img {
  width: 100%; }

.about-me-img a i {
  font-size: 2.7rem;
  color: #333;
  margin-right: 5px; }

.about-me-img a:hover i {
  color: #DD8C4E; }

.about-me-text {
  text-align: justify; }

.skills-n-tech ul {
  padding: 0; }

.skills-n-tech ul li {
  margin-bottom: 10px;
  list-style: none;
  max-width: 500px; }

/*///////////////////
/// Works Page ///
///////////////////*/
.works-page {
  /*height: 100vh;*/
  /*background: url(../images/pattern/stardust.png);
  background-attachment: fixed;*/
  background-color: #272727;
  padding-bottom: 200px;
  min-height: 100vh; }

.works-page h1 {
  color: #fff;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  position: relative;
  padding-bottom: 10px; }

.works-page h1:after {
  content: "";
  width: 127px;
  height: 5px;
  background: #fff;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0; }

.button-group {
  margin: 15px 0; }

.button-group .button {
  background-color: #fff;
  border: 1px solid #fff;
  color: #272727;
  padding: 5px 10px; }

.button-group .button:focus {
  outline: none; }

.button-group .button.is-checked, .button-group .button:hover {
  background-color: #DD8C4E;
  border: 1px solid #DD8C4E;
  color: #fff;
  box-shadow: 4px 4px 4px #000; }

.grid-item {
  width: 320px;
  margin-bottom: 10px;
  min-height: 160px;
  background-color: #fff;
  border: 5px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 5px 5px 10px #000;
  -moz-box-shadow: 5px 5px 10px #000;
  -webkit-box-shadow: 5px 5px 10px #000; }

.grid-item .work-item-header {
  height: 200px;
  overflow: hidden;
  width: 100%;
  position: relative; }

.grid-item .work-item-header img {
  width: 100%;
  position: absolute;
  -webkit-transition: bottom 2s;
  /* Safari */
  transition: bottom 2s; }

.grid-item.long-website .work-item-header img {
  -webkit-transition: bottom 6s;
  /* Safari */
  transition: bottom 6s; }

.grid-item.extra-long-website .work-item-header img {
  -webkit-transition: bottom 10s;
  /* Safari */
  transition: bottom 10s; }

.grid-item .work-item-header:hover img {
  bottom: 0 !important; }

.grid-item .work-item-description {
  padding: 15px; }

.fancybox-skin, .fancybox-title-float-wrap .child {
  border-radius: 0; }

.project-content img {
  width: 45%;
  margin: 10px; }

.project-overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 400px;
  height: 100%;
  text-align: center;
  color: #fff;
  padding-top: 35%;
  -webkit-transition: top .5s;
  /* For Safari 3.1 to 6.0 */
  transition: top .5s; }

.grid-item:hover .project-overlay {
  top: 0;
  cursor: pointer; }

.grid-item .work-item-description a {
  width: 100%;
  background-color: #333;
  display: block;
  text-align: center;
  padding: 10px;
  color: #fff; }

.grid-item .work-item-description a:hover {
  background-color: #DD8C4E;
  text-decoration: none; }

.grid-item .work-item-description h3 {
  margin: 10px 0 0 0; }

.grid-item .work-item-description hr {
  margin-top: 15px;
  margin-bottom: 15px; }

.grid-item .work-item-description ul {
  padding-left: 15px; }

.hobi img {
  width: 100%; }

@media screen and (min-width: 480px) {
  .grid-item {
    width: 44%;
    margin: 5px; } }
@media screen and (min-width: 1200px) {
  .grid-item {
    width: 30%;
    margin: 10px;
    min-height: 100px; } }
/*///////////////////
/// Contact Page ///
///////////////////*/
.contact-page {
  padding-top: 200px;
  margin-top: -200px;
  overflow: hidden; }

.contact-page .angled {
  /*background-color: #EF8354;*/
  background-color: #FFF;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  margin: -100px -150px -50px -150px;
  padding: 0 150px; }

.contact-page .angled-content {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  padding-top: 110px;
  height: calc(100vh + 400px); }

/*.contact-page:before{
    content: " ";
    width: 100%;
    height: 150px;
    transform: rotate(10deg);
}*/
.contact-page h1 {
  color: #272727;
  border-bottom: 1px solid #272727;
  font-size: 16px;
  position: relative;
  padding-bottom: 10px; }

.contact-page h1:after {
  content: "";
  width: 127px;
  height: 5px;
  background: #272727;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0; }

@media screen and (min-width: 1200px) {
  .contact-page .angled {
    margin: -100px -150px -100px -150px;
    padding-bottom: 150px; }

  .contact-page .angled-content {
    height: calc(100vh + 150px); } }
@media screen and (min-width: 1600px) {
  .contact-page .angled-content {
    height: 100vh; } }
input {
  width: 100%;
  border: none;
  height: 40px;
  margin-bottom: 25px;
  padding: 0 10px;
  background-color: #efefef; }

input:focus, textarea:focus {
  outline: 2px solid #333; }

textarea {
  width: 100%;
  resize: none;
  border: none;
  min-height: 250px;
  padding: 10px;
  background-color: #efefef; }

label {
  display: none; }

.button.submit {
  background-color: #272727;
  color: #fff;
  margin-top: 25px;
  text-transform: uppercase; }

.button.submit:hover {
  background-color: #DD8C4E;
  color: #fff; }

.paper-plane-container {
  width: 70px;
  height: 70px;
  background: #333;
  border-radius: 100px;
  padding: 18px;
  color: #DD8C4E;
  margin: 30px auto 10px auto; }

.paper-plane-container i {
  font-size: 3rem; }

.form-inputs {
  margin-top: 15px; }

label.error {
  margin-top: -15px;
  margin-bottom: 15px;
  color: #DD8C4E; }

/*.social-icons .fa{
    font-size: 2rem;
}*/

/*# sourceMappingURL=style.css.map */
