input{
    width: 100%;
    border: none;
    height: 40px;
    margin-bottom: 25px;
    padding: 0 10px;
    background-color: #efefef;
}
input:focus, textarea:focus{
    outline:  2px solid #333;
}
textarea{
    width: 100%;
    resize: none;
    border: none;
    min-height: 250px;
    padding: 10px;
    background-color: #efefef;
}
label{
    display: none;
}
.button.submit{
    background-color: $primary-color;
    color: #fff;
    margin-top: 25px;
    text-transform: uppercase;
}
.button.submit:hover{
    background-color: #DD8C4E;
    color: #fff;
}
.paper-plane-container {
    width: 70px;
    height: 70px;
    background: #333;
    border-radius: 100px;
    padding: 18px;
    color: #DD8C4E;
    margin: 30px auto 10px auto;
}
.paper-plane-container i{
    font-size: 3rem;
}
.form-inputs{
    margin-top: 15px;
}
label.error {
    margin-top: -15px;
    margin-bottom: 15px;
    color: #DD8C4E;
}
/*.social-icons .fa{
    font-size: 2rem;
}*/