html, body{
	padding: 0;
	margin: 0;
	background-color: $primary-color;
	font-family: 'Raleway', sans-serif;
}

header {
	width: 100%;
	color:$general-text-color;
	width: 100%;
	position: fixed;
	z-index: 100;
}
header nav{
	width: 100%;
	float: right;
	right: -1500px;
	position: absolute;
	background-color: $primary-color;
}
header nav.on{
	right: 0;
}
h1, p{color: $primary-color;}
a, a:hover{color: $secondary-color;}

.page{
	padding-top: 30px;
}
.section-block{
	position: relative;
	z-index: 1;
}
.fullscreen{
    width: 100%;
    height: 100vh;
}
.skill-bar {
  height: 5px;
  position: relative;
  float: right;
  width: 55%;
}
.toTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #272727;
    padding: 5px 15px;
    border: 1px solid #FAF0CA;
    color: #FAF0CA;
    z-index: 22;
    font-size: 2.5rem;
    opacity: .8;
}
.toTop:hover{
	cursor: pointer;
	opacity: 1;
}

@media screen and (min-width: 768px){
	header nav{
		text-align: right;
		width: 40%;
		right: 0;
		position: relative;
		background-color: transparent;
	}
	.page{
		padding-top: 60px;
	}
	.skill-bar{
		margin-right: 12%;
	}
}